@model TSPP.Areas.Admin.Models.MovieAddModel

@{
    ViewData["Title"] = "AddMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-md-6">
        <form asp-action="AddMovie" asp-controller="AddInfo" method="post" enctype="multipart/form-data">

            <fieldset>
                <legend>Add new movie:</legend>
                Назва фільму:<br>
                <input class="form-control" type="text" name="moviename" /><br>
                Опис:<br>
                <input class="form-control" type="text" name="discription"><br>
                Тривалість:<br>
                <input class="form-control" type="text" name="length"><br>
                Обкладинка
                <input class="form-control" type="file" name="image" multiple />
                Технологія показу:<br>
                <input class="form-control" type="text" name="technology"><br>
                <input type="submit" class="btn btn-primary" value="Додати фільм">
            </fieldset>
        </form>
    </div>
    <div class="col-md-6">

        <hr />


        @Html.ActionLink("Додати сеанс", "AddSession", "AddInfo")
       
        <hr />


        @Html.ActionLink("Додати кінотеатр", "AddCinema", "AddInfo")
        
        <hr />

        @Html.ActionLink("Додати користувача", "AddUser", "AddInfo")
    </div>



</div>





@section user_exit
    {
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Users" asp-action="Exit">Вихід</a></li>
    </ul>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
