@model TSPP.Models.DB.Cinema


@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (ViewBag.UserId != null)
{
    @section user_exit
        {
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Users" asp-action="Exit">Вихід</a></li>
        </ul>
    }
}

<div class="row">
    @{ 


    <div class="col-md-4">
        <h1>
            @Model.Name
        </h1>
        <h4>
            @Model.Address
        </h4>
    </div>
    }

</div>


